In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(7, 4),
                  columns=['C1', 'C2', 'C3','C4'])

df

         C1        C2        C3        C4
0  0.101485 -1.163526 -0.093844 -0.585969
1  0.853638 -0.777623  1.296258 -0.293083
2 -0.300001 -1.164910 -0.313026 -1.024093
3  0.754696  1.387127 -0.135972  1.101532
4  0.322486 -0.029707  0.951510  0.904882
5 -0.796216  1.637342 -0.301800 -0.667842
6 -0.053560 -1.418217 -0.370080 -0.824777

In [7]:
df.loc[3, 'C1'] = np.nan
df.loc[4, 'C1'] = np.nan
df.loc[1, 'C3'] = np.nan
df.loc[2, 'C2'] = np.nan
df.loc[3, 'C2'] = np.nan
df.loc[4, 'C3'] = np.nan

In [8]:
df

         C1        C2        C3        C4
0  0.101485 -1.163526 -0.093844 -0.585969
1  0.853638 -0.777623       NaN -0.293083
2 -0.300001       NaN -0.313026 -1.024093
3       NaN       NaN -0.135972  1.101532
4       NaN -0.029707       NaN  0.904882
5 -0.796216  1.637342 -0.301800 -0.667842
6 -0.053560 -1.418217 -0.370080 -0.824777

In [9]:
np.where(pd.isnull(df))

(array([1, 2, 3, 3, 4, 4]), array([2, 1, 0, 1, 0, 2]))